<script lang="ts">

import {sharedStateActionCreators} from "@matre/sharedstate";
import {defineComponent} from "vue";
import {
  getters, reduxstore,
  subscribeComponentForChangesFromRedux, registerMessageEventConsumer
} from "../store";

export default defineComponent({
  mixins: [getters],
  methods: {
    increment() {
      // it is enough to dispatch value in reduxstore, it should postMessage to Native frame
      reduxstore.dispatch(sharedStateActionCreators.setCount(this.getCount() + 1))
      // vuex syntax, maybe still usefull
      // vuestore.commit("increment");
      // this.sendMessageFromVue(vuestore.state.count? vuestore.state.count:10);
      // console.log(store.state.count);
    },
    sendRandMessage() {
      // it is enough to dispatch value in reduxstore, it should postMessage to Native frame
      reduxstore.dispatch(sharedStateActionCreators.setMessage(Math.random().toString(16).substr(2, 8)))

      // vuex syntax, maybe still usefull
      // vuestore.commit("increment");
      // this.sendMessageFromVue(vuestore.state.count? vuestore.state.count:10);
      // console.log(store.state.count);
    },
    getSecureStorage() {
      console.log("test")
    }
  },
  created() {
    subscribeComponentForChangesFromRedux(this);
    registerMessageEventConsumer();
  },
});
</script>

<template>
  <div>
    <!-- This shows how to access redux state in vue template  -->
    <div>Count from redux {{ this.getCount() }}</div>
    <div>Message from redux {{ this.getMessage() }}</div>

    <br/>

    <div>Storage with key Test: {{ this.getValue() }}</div>

    <button @click="increment">Increase</button>
    <button @click="sendRandMessage">sendRandMessage</button>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
